@import "tailwindcss";

:root {
  --foreground: #ffffff;
}

@theme inline {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
@keyframes moveBackground {
  0% {
    background-position: top center;
  }
  100% {
    background-position: bottom center;
  }
}
body {
  background-image: url("../../public/asesst/bg.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  font-family: Arial, Helvetica, sans-serif;
  animation: moveBackground 40s linear infinite alternate;
  height: 100vh;
  background-attachment: fixed;
}
